<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <mat-card class="mat-elevation-z1"> 
                <mat-card-header>
                    <mat-card-title>Register</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <mat-form-field>
                    <input type="email" matInput placeholder="email" #email name="email" [(ngModel)]="registerUserData.email" required>
                    <mat-icon matSuffix color="primary">mail</mat-icon>
                    <mat-hint align="end">Enter a valid email</mat-hint>
                    </mat-form-field>
                    <br/>

                    <mat-form-field>
                    <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="registerUserData.password" required>
                    <mat-icon matSuffix color="primary">lock</mat-icon>
                    <mat-hint align="end">Enter a password</mat-hint>
                    </mat-form-field>
                    <br/>

                    <mat-form-field>
                    <input type="password" matInput placeholder="Password" name="password_verify" [(ngModel)]="registerUserData.password_verify" required>
                    <mat-icon matSuffix color="primary">lock</mat-icon>
                    <mat-hint align="end">Enter password again</mat-hint>
                    </mat-form-field>
                    {{ passwordMessage }}
                </mat-card-content>
                <mat-card-actions align="start">
                    <button mat-raised-button color="primary" (click)="registerUser()"> Register </button>
                    <br/>Already registered? Login <a routerLink="/">here.</a>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
